@import url(./author.css);

@font-face {
    font-family: "Usually-font";

    src: local("Usually-font"),
        url(../fonts/Usually-font.otf)
}

@media screen and (max-width:840px) {

.wrapper5 {
display: none;
    
}

.wrapper6 {
    height: 100%;
    width: 100%;
    position: relative;
    top: 35px;
    z-index: 2;
}

 

.author_page {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(268.09deg, #C09EEE 51.78%, #B890F1 93.11%);
    overflow-y: hidden;
    overflow-x: hidden;
}

h6 {
text-align: center;
    font-size: 1.5em;
    color: #FFEC3A;
    top: 6%;
    position: relative;
    font-family: "Usually-font";
    letter-spacing: 19px;
    margin: 0px;
    left: 1%;
    z-index: 2;
}
.author_page_container {
    height: 100%;
}

.author_background {

    width: 100%;
}



.author_background_item {
    position: relative;
}

.author_background_footer {
    width: 100%;
   position: absolute;
}


/*width: 50%;
position: absolute;
bottom: 45.6%;
z-index: 1;*/




.item {
    position: absolute;
    width: 15%;
    z-index: 2;
}

.vs1 {
    width: 70% !important;
    bottom: 8%;
}

.vs2 {
    right: 18%;
        top: 84.8%;
}

.vs3 {
    top: 95.5%;
        right: 15%;
        width: 22%;

}

.vs4 {
top: 91%;
    left: 13%;

}

.vs5 {
top: 94.9%;
    right: 15%;
    width: 10%;
    z-index: 3;
}

.vs6 {
    display: none;
}

.vs7 {
    display: none;
}

.vs8 {
    display: none;
}

.vs9 {
    width: 100%;
        left: 9%;
        bottom: 10%
}

.vs10 {
width: 100%;
    top: 88%;
    transform: rotate(221deg);
    right: 44%;


}


        .slick-slider {
            width: 60%;
    
            left: 20%;
            top: 10%;
    
    
        }
    
        .slick-slider img {
            width: 100%;
        }
    
        .slick-list {
            overflow: hidden;
            height: 700px;
        }
    
        .slick-track {
            display: flex;
            align-items: baseline;
        }


                .slick_item {
                    width: 60%;
                    height: 100%;
                    
                }

                footer {
                    width: 100%;
                        background-color: black;
                        height: 4%;
                        margin: 0px;
                        top: 97.9%;
                        position: absolute
                }


                .footer_description {
                    display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        flex-wrap: wrap;
                        position: relative;
                        top: 30%;
                        margin: 0;
                        padding: 0;
                        font-size: 1em;
                        color: #D9D9D9CC;
                }

                .logo {
                    position: absolute;
                    font-family: 'Usually-font';
                        position: absolute;
                        color: #fff;
                        font-size: 1.5em;
                        bottom: 35px;

                }

}