@font-face {
    font-family: "Usually-font";

    src: local("Usually-font"),
        url(fonts/Usually-font.otf)
}

* {
    list-style-type: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

footer {
    width: 100%;
    background-color: black;
    height: 200px;
    margin: 0px;
}

.footer_description {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: 40%;
    font-size: 2em;
    margin: 0;
    padding-left: 140px;
    }

        .footer_description a {
            color: white;
        }

        .logo {
            font-family: 'Usually-font';
        }
