@font-face {
    font-family: "Usually-font";
  
    src: local("Usually-font"),
    url(../fonts/Usually-font.otf)
}
* {
    list-style-type: none;
    font-family: 'Montserrat';
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}


@media screen and (min-width:1000px) {
   
    html,
        body {
            padding: 0;
            margin: 0;
            overflow-x: hidden;
        }

.nav_nav { 
    width: 100%;
    position: absolute;
    z-index: 11;
    color: aliceblue;
}

a {
    color: #fff;
}

.nav_buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top:25px;
    }

    a:visited {
        color:#fff;
    }

    li{ 
        margin-right: 140px;
        z-index: 9999;
    }

    .main_nav_logo {
            position: relative;
                top: 44px;
                left: 141px;
                font-size: 25px;
                color: aliceblue;
                font-family: "Usually-font"
    }

.menu_block {
    display: none;
}

main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.main_background {
  
    background: linear-gradient(292.84deg, #9D5CFF 20.81%, #D0B0FF 65.62%);
}

.background_highlits {

    width: 100%;
}

.img1 {
    width: 88%;
}
.img2 {
    width: 88%;
}
.background_img_1 {
        position: absolute;
            z-index: 12;
            width: 62%;
            top: -13%;
            transform: rotate(290deg);
            left: -22%;
}

.background_img_2{
position: absolute;
    top: 38%;
    left: 80%;
    width: 37%;
    transform: rotate(330deg);
}
.logo_container {
    width: 1550px;
        height: 300px;
        position: absolute;
        z-index: 100;
        top: 270px;
        text-align: center;
   
}




.main_logo {
    text-align: center;
        font-family: "Usually-font";
        font-size: 7em;
        color: aliceblue;
        font-weight: 300;
        width: 300px;
        margin: 0;
}

.main_logo_2 {
    font-family: "Usually-font";
        font-size: 3em;
        color: aliceblue;
        word-wrap: break-word;
        max-width: 734px;
        letter-spacing: 0.43em;
        align-self: center;
        margin: 0px;
        position: absolute;
        right: left;
        left: 46%;
        top: 6%;
}



.logo_line {
    width: 90px;
        height: 3px;
        border-radius: 5px;
      
        left: 30%;
        background-color: #fff;
        position: absolute;
        top: 17%;
}
}


