@font-face {
    font-family: "Usually-font";

    src: local("Usually-font"),
        url(fonts/Usually-font.otf)
}

@media screen  and (min-width:1000px){
    


* {
    list-style-type: none;
    font-family: 'Montserrat';
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}


.problem_page {
    height: 100vh;
    background-color: black;
}

.problem_page_container {
    width: 100%;
    height: 100%;
}

h4 {
    text-align: center;
        font-size: 3em;
        color: #FFEC3A;
        top: 7%;
        position: relative;
        margin-top: 0px;
        font-family: "Usually-font";
        letter-spacing: 24px;
    }

    .wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    

.img_description{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 132px;
        line-height: 130.9%;
        color: #FFEC3A;
        opacity: 0.15;
        transform: rotate(-90deg);
}


.slider {
   position: relative;
   min-width: 0;
}

.slick_item {
    width: 60%;
    height: 100%;
}

.slider_item p {
   color:  #E8E8E8;
   text-align: center;
}



    .slick-slider {
width: 60%;
  
    left: 20%;
 
        
    }

        .slick-slider img {
            width: 100%;
        }
    .slick-list {
        overflow: hidden;
        height: 400px;
    }
    .slick-track {
        display: flex;
        align-items:baseline;
    }


    .slick-slide {}
    .slick-slide.slick-active {}
    .slick-slide.slick-current {}
    .slick-slide.slick-center {}

   .slider .slick-arrow{
    position: absolute;
    top: 35%;
    z-index: 10;
    font-size: 0;
    width: 60px;
    height: 50px;
    
   }
    .slider .slick-arrow.slick-prev {
        left: -100px;
        background: url('../img/slider/Vector.png') 0 0 no-repeat;

    }
    .slider .slick-arrow.slick-next {
        right: -100px;
        background: url('../img/slider/Vector-1.png') 0 0 no-repeat;

    }
    .slick-arrow.slick-disabled {}

    .slick-dots {}
    .slick-dots li {}
    .slick-dots button {}

}