
@import url(./problemPage.css);
@font-face {
    font-family: "Usually-font";

    src: local("Usually-font"),
        url(../fonts/Usually-font.otf)
}

@media screen and (max-width:840px) {

.problem_page {
    height: 100%;
    width: 100%;
    background-color: black;
}

    .problem_page_container {
        
                width: 100%;
                height: 100%;
            
    }

    h4 {
        text-align: center;
            font-size: 1.5em;
            color: #FFEC3A;
            top: 7%;
            position: relative;
            margin-top: 0px;
            font-family: "Usually-font";
            letter-spacing: 15px;
            top: 50px;
    }


.wrapper {
    display: none
}
.mobile_wrapper_container {
    display: flex;
    flex-direction: column;
}

    .wrapper2 {
        width: 100%;
        height: 100%;
        overflow: hidden;}
        
    .wrapper3 {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

                .wrapper4 {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                }

    .img_description {}

        .slider {
            position: relative;
            min-width: 0;
        }
    
        .slick_item {
            width: 60%;
            height: 100%;
        }
    
        .slider_item p {
            color: #E8E8E8;
            text-align: center;
        }
    
    
    
        .slick-slider {
            width: 60%;
    
            left: 20%;
    
    
        }
    
        .slick-slider img {
            width: 100%;
        }
    
        .slick-list {
            overflow: hidden;
            height: 400px;
        }
    
        .slick-track {
            display: flex;
            align-items: baseline;
        }
    
    
        .slick-slide {}
    
        .slick-slide.slick-active {}
    
        .slick-slide.slick-current {}
    
        .slick-slide.slick-center {}
    
        .slider .slick-arrow {
            display: none
    
        }
    
      



}